# Fichiers Spyder
.spyproject/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/
.venv/

# Variables d'environnement
.env

# IDE divers
.idea/
.vscode/
*.swp
*.swo

# Système
.DS_Store
Thumbs.db

# Logs et données temporaires
*.log
tmp/
